<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--     
    <link
    rel="stylesheet"
    data-purpose="Layout StyleSheet"
    title="Web Awesome"
    href="/css/app-wa-9846671ed7c9dd69b10c93f6b04b31fe.css?vsn=d"
  > -->

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
    >

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
    >

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css"
    >

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css"
    >

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css"
    >
</head>
<body>
    <div id="footer" >
<div class="container-fluid cont ">
    <div class="sec1">
        <a class="b-world title" href="#" >E-Book</a>
        <!-- <div class="social">
            <i class="fa-brands fa-square-facebook f"></i>
            <i class="fa-brands fa-square-instagram f"></i>
            <i class="fa-brands fa-square-twitter f"></i>

 </div> -->
    </div>

    <div class="sec2 s">
   <ul class="cat">
<li class="title ">Categories</li>
<li (click)="prog_navagte()"><button class="bbtnn">Programming </button></li>
<li (click)="science_navagte()"><button class="bbtnn">Science </button></li>
<li (click)="psychologyc_navagte()"><button class="bbtnn"> Psychology</button></li>
<li (click)="story_navagte()"><button class="bbtnn"> Story</button></li>
   </ul>
    </div>
    <div class="sec3 s">
        <ul>
            <li class="title">For Kids</li>
            <li>Gamers</li>
            <li>Comics</li>
            <li>Fantasy</li>
            </ul>
    </div>
    <div class="sec4 s">
        <ul>
            <li class="title">E-Book</li>
            <li>Fiction</li>
            <li>Historcal</li>
            <li>Horror</li>
            </ul>
    </div>
    <div class="sec5 s">
        <ul>
            <li class="title">Help & contact </li>
            <li><i class="fa-solid fa-phone"></i> <span> +044587999000</span></li>
            <li><i class="fa-light fa-clock"></i> <span> Mo-Fri , 9 AM to 11 PM</span></li>
            <li><i class="fa-light fa-envelope"></i> <span> E-book&#64; store.ro</span></li>
            </ul>
    </div>
    <div class="sec6 s">
        <div class="box">
           <p> If you have question , you can contact us or we will do it for you  </p>  
        </div>
        <button class="btn btn-light bb">Request a call</button>
    </div>

    
    <div class="mean">

        <div class="social">
           <a href="https://www.facebook.com/" target="_blank"> <i class="fa-brands fa-square-facebook f"></i></a>
           <a href="https://www.instagram.com/" target="_blank"> <i class="fa-brands fa-square-instagram f"></i></a>
           <a href="https://twitter.com/?lang=en" target="_blank"> <i class="fa-brands fa-square-twitter f"></i></a>
    
    </div>
    <div class="money">
      <a href="https://www.paypal.com/eg/home" target="_blank"> <i class="fa-brands fa-cc-paypal f"></i></a>
      <a href="https://www.mastercard.us/en-us.html" target="_blank"><i class="fa-brands fa-cc-mastercard f"></i></a>
      <a href="https://eg.visamiddleeast.com/en_EG" target="_blank"> <i class="fa-brands fa-cc-visa f"></i></a>
    </div>
    
    </div>
    



</div>

<div class="last">

    <p><i class="fa-regular fa-copyright"></i> All Copy are reserved. E-Book 2024.</p>
</div>






    </div>
    


</body>
</html>